*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;

}
body{
    display:flex;
    flex-direction: column;
}
.signupbutton{
    width:100px;
    background-color: #3882F6;
    color: white;
    border-radius: 4px;
    border: white 2px solid;
    padding:5px;
}
.headerc{
    background-color:#1f2937;
    color:white;
}
.information{
    color:black
}
.footerc{
    background-color: #1f2937;
    color:white;
    display:flex;
    padding:22px;
    justify-content: center;
    align-items: center;
}
.navbar{
    display:flex;
    justify-content:space-between;
    padding-bottom:70px;
    padding-left:200px;
    padding-right:200px;
    padding-top:10px;
}
ul{
    display:flex;
    list-style:none;
    gap:35px;
}
.navbar a{
    text-decoration:none;
}
.hl{
    font-size: 25px;
}
.mediac{
    display:flex;
    justify-content: center;
    padding:30px 0px;
    padding-bottom: 150px;

    width:100%
}
.imgmodal{
    width: 500px;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: lightgray;

}
.modal{
    width: 500px;
    display:flex;
    flex-direction:column;
    gap:10px;
}
.modalbutton{
    background-color: #3882F6;
    border-radius: 5px;
    border:none;
    width:80px;
    height:30px;
}
.infohead{
    display:flex;
    justify-content: center;
    margin-top:20px;
}
.information{
    display:flex;
    justify-content: center;
}
.informationc{
    display:flex;
    margin-bottom:130px;
    flex-direction: column;
    gap:25px;
}
.quotec{
    display:flex;
    background-color: lightgray;
    padding:100px;
    flex-direction:column;
    justify-content:center;
}
.quote{
    align-self: center;
    font-size: 30px;
    width:900px;
}
.inboxi{
    width:250px;
    gap:25px;
}
.signup{
    background-color: #3882F6;
    border-radius: 5px;
    width:1000px;
    margin:100px auto;
    padding:20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.quoter{
    margin-left:670px;
    font-weight:900;
    font-size: 20px;
    align-self:center;
}
.box{
    width:200px;
    height:200px;
    border-radius: 12px;
    border:#3882F6 5px solid;
}